table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#nomedatabela{
  font-size: 15px;
  text-align: center;
  background-color: rgb(187,145,103);
  color: white;
  padding: 10px;
}

th, td{
  padding: 8px;
  text-align: center;
}

th{
  background-color: whitesmoke;
  color: black;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:nth-child(odd){
  background-color: #fff;
}
