nav{
  background-color: rgb(151, 127, 231);
}

nav ul{
  margin: 0px;
  display: flex;
  height: 60px;
  align-items: center;
  border: 2px solid rgb(151, 127, 231);
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#slogan{
  font-size: 15px;
  margin: 10px;
}

nav li{
  color: white;
  margin-left: 35px;
  list-style-type: none;
}

body{
  font-family: cursive;
  font-size: 13px;
  background-color: whitesmoke;
}

header{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgb(151, 127, 231);
  flex-wrap: wrap;
}

p{text-align: justify;}
address{
  text-align: center;
  font-size: normal;
  font-weight: bold;
}

h3{
  font-size: 25px;
  color: rgb(151, 127, 231);
  text-shadow: 2px 2px 1px white;
  margin: 0px;
}

#redes ul{
  display: flex;
  justify-content: center;
  margin: 0px;
}

#redes ul li{
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
}

footer{
  background-color: rgb(151, 127, 231);
  color: white;
  border: 2px solid rgb(151, 127, 231);
}

nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  background-color: white;
  color: rgb(151, 127, 231);
}

button{
  margin-top: 10px;
  background-color: green;
  color: #fff;
  padding: 10px 213px;
  border: none;
  border-radius: 5px;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 0px;
  margin: 0;
  width: 100%;
  height: 100%; 
}

.gallery__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallery__item--1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.h1_nosso_espaco{
  font-size: 15px;
  color: rgb(105, 234, 255);
  text-shadow: 2px 2px 1px white;
}

fieldset{
  width:300px;
  height:510px;
  border-radius: 5px;
  margin: 10px;
}

legend{
  font-size: 13px;
  font-family: cursive;
  color: #333;
  text-align: center;
}


input[type = "text"],
input[type = "date"],
input[type = "time"]{
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type = "radio"]{
  margin-right: 5px;
}

button[type = "submit"]:hover{
  background-color: #45a049;
}

.h1_desempenho_semanal{
  font-size: 15px;
  color: rgb(22, 198, 12);
  text-shadow: 2px 2px 1px white;
}

/* table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

caption{
  font-size: 18px;
  text-align: center;
  background-color: rgb(22, 198, 12);
  color: white;
  padding: 10px;
}

th, td{
  padding: 8px;
  text-align: center;
}

th{
  background-color: whitesmoke;
  color: blue;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:nth-child(odd){
  background-color: #fff;
} */

.h1_agendamentos{
  font-size: 15px;
  color: rgb(187, 145, 103);
  text-shadow: 2px 2px 1px white;
}
